@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p><ul>
    <li>
    Click on home icon to go to Home Page.
    </li>
<li>
    Register yourself first to create new posts.</li>
<li>
    If you are already registered, directly go to log in page.</li>
<li>
    Go to contact page if you face any problems.</li>
<li>
    Click on the button on home page to see your Posts.</li>
    </ul></p>
