@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/styles1.css" rel="stylesheet" />
<div class="jumbotron">
    <h1 class="heading">ASP.NET</h1>
    <p class="lead">Welcome to my ASP.NET Application</p>
    <p><a href="http://localhost:63766/BlogPosts" class="btn btn-primary btn-lg">Click here &raquo;</a></p>
</div>


